:root{
    --cor-bg-principal: #59B390;
    --cor-bg-linear: #152B3C;
    --cor-principal: #59B390;
    --header-height: 2rem;
    --logo-height: 100px;
    --text-color: #e6dbdb;
}

*{
    margin: 0;
}


/*body*/

body{
    background: linear-gradient(var(--cor-bg-principal), var(--cor-bg-linear));
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.button {
    background-color: var(--cor-bg-linear);
    color: var(--text-color);
    height: 4rem;
    width: 10rem;
    display: inline-flex;
    align-items: center;
    padding: 0 3rem;
    border-radius: 1rem;
    font-weight: bold;
    font: 500 1rem var(--body-font);
    transition: 0.3s;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.28);
  }
  
  .button:hover {
    background: var(--base-color-second);
    color: var(--text-color);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.507);
  }
  
/*header*/

.head{
    position: fixed;
    height: var(--header-height);
    padding: 1rem;
    width: 100%;
    display: inline-flex;
    background-color: var(--cor-principal);
    justify-content: space-between;
}

.logo img{
    height: var(--logo-height);
    padding: 0;
    padding-left: 2rem;
    margin-top: -2rem;
}

.options{
    margin-top: 0.5rem;
}

.options p{
    padding: 2rem;
    margin-right: 4rem;
    display: inline;
    text-align: center;
    height: var(--header-height);
}

a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

/*top content*/

.part1{
    display: flex;
    align-items: center;
}

.part1 .banner1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

    margin-top: var(--header-height);
    padding-top: 8rem;
    padding-left: 10%;
}

.part1 .banner1 .enter{
    margin-top: var(--header-height);
    flex: 1 1 16rem;
}


.welcome{
    text-align: center;
    flex: 1 1 16rem;
    text-align: center;
    align-items: center;
    padding-right: 10%;
}

.part1 .welcome h2{
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: 700;
    

    margin-top: var(--header-height);
}

.part1 .welcome p{
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0;
    margin-bottom: 1rem;
}

/*last content*/


.part2{
    display: flex;
    align-items: center;
}

.part2 .banner2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;

}

.part2 .banner2 .foto{
    margin-top: var(--header-height);
    flex: 1 1 16rem;
}

.foto img{
    width: 50em;
}

.us{
    text-align: center;
    flex: 1 1 16rem;
    text-align: center;
    align-items: center;
    padding-right: 10%;
}

.part2 .us h2{
    color: var(--text-color);
    margin-bottom: 1rem;
    font-weight: 700;
    

    margin-top: var(--header-height);
}

.part2 .us p{
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
    padding: 25px 0;
    margin-bottom: 1rem;
}

/*footer*/

.footer {
    display: block;
    color: var(--title-color);
    background-color: var(--base-color);
  }
  
.footer > * {
    flex: 1 100%;
  }
  
.footer p {
    text-align: center;
    color: var(--text-color);
    font-size: 0.8rem;
    
    font-family: 'Poppins';
    text-transform: none;
    padding: 1rem;
  
    box-shadow: 4px 0px 10.5px rgba(0, 0, 0, 0.25);
    transform: rotate(-0.01deg);
  }